<%
let years = [], haveTop = [], noTop = [];
posts.forEach((item) => {
  const year = item.date.substring(0, 4);
  if (!years.includes(year)) {
    if (!item.isTop) {
      years.push(year);
      noTop.push(item)
    } else {
      haveTop.push(item);
    }
  }
});
%>

<div class="hd">
  <% if (haveTop.length > 0) { %>
    <div class="titlex">
      <p>
        <span class="jing">#</span> 置顶
      </p>
    </div>
    <% haveTop.forEach((post) => { %>
      <a class="flink" href="<%= post.link %>">
        <div class="list">
            <div class="postname">
              <%= post.title %>
            </div>
            <div class="posttime">
              <%= post.dateFormat %>
            </div>
        </div>
      </a>
    <% }); %>
  <% } %>

  <% var last; %>
  <% years.forEach((year) => { %>
    <% if (last != year){ %>
      <div class="titlex">
          <p>
            <span class="jing">#</span>
            <%= year %>
          </p>
      </div>
      <% last = year; %>
    <% } %>
    <% noTop.forEach((post) => { %>
      <% if (post.date.indexOf(year) !== -1) { %>
        <a class="flink" href="<%= post.link %>">
          <div class="list">
              <div class="postname">
                <%= post.title %>
              </div>
              <div class="posttime">
                <%= post.dateFormat %>
              </div>
          </div>
        </a>
      <% } %>
    <% }); %>
  <% }); %>
</div>
