<%
const publishedDays = Math.ceil(
  (new Date() - new Date(post.date)) / (1000 * 60 * 60 * 24)
)
%>

<html>
  <head>
    <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
    <% if (site.customConfig.renderKaTeX) { %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <% } %>
    <% if (site.customConfig.codeHighlight) { %>
      <script src="https://cdn.jsdelivr.net/npm/highlightjs@9.16.2/highlight.pack.min.js"></script>
      <script>hljs.initHighlightingOnLoad()</script>
    <% } %>
  </head>

  <body>
    <div class="hd posts">
      <a href="/">
        <svg class="replay-btn" viewBox="0 0 1159 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M512 0L0 512l512 512L660.54321 874.403292 403.489712 617.349794h756.411523v-210.699588H403.489712l257.053498-258.106996L512 0z"></path></svg>
      </a>
      <div class="post-title">
        <p><%= post.title %></p>
        <hr>
      </div>

      <% if(site.customConfig.oldTip && publishedDays >= 180) { %>
        <div class="admonition">
          <p style="margin-bottom: 0px;">
            📢 <strong>过期警告：本文距今已有 <%= publishedDays %> 天未更新，内容可能有所偏颇，还请仔细甄别！</strong>
          </p>
        </div>
      <% } %>

      <div class="post-content">
        <%- post.content %>
      </div>

      <% if (site.customConfig.comment != 'false') { %>
        <br><br>
        <% var path = './includes/comments/' + site.customConfig.comment %>
        <%- include(path) %>
      <% } else if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
        <% if (commentSetting.commentPlatform === 'gitalk') { %>
          <%- include('./includes/gitalk') %>
        <% } %>

        <% if (commentSetting.commentPlatform === 'disqus') { %>
          <%- include('./includes/disqus') %>
        <% } %>
      <% } %>

    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
